<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/mystyle.css" />
    <title>NestJS</title>
  </head>
  <body>
    <h1>NestJS with view engine (MVC)</h1>
    <h2><%=message%></h2>
    <h3>Listen at port: <%=port%></h3>
  </body>
</html>
